.Caja1{
	height: 200px;
	width: 200px;
	display: flex;	
	justify-content: center;
	background-color: salmon;
}

.Body1{
	display: flex;
	background-color: gold;

}

.Caja2{
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	background-color: darkturquoise;
}